#top_title{
    font-size: 50px;
    font-weight:bold;
}

.head_wrapper{
    width:100%;
    background-color: darkkhaki;
    position: fixed;
    top:0;
    background-image: url('../img/topImage.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#top_wrapper{
    width:100%;
    height:1000px;
    
}

#top_h1{
    font-size: 100px;
    font-weight: bold;
    color:aqua;
}

#login_logo{
    position: absolute;
    top : 40px;
    right: 80px;
    font-size: 30px;
    font-weight: bold;
}

#myicon{
    width:200px;
    height:150px;
    position: absolute;
    left: 0;
}

#icon{
    width:200px;
    height:150px;
}

/* #logout::before{
    content:'aaaaa';
} */

#logout{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #2695E0;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top:100px;
}

#mypage{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color:chartreuse;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 12%;
    top:100px;
}

#follow{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color:red;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 12%;
    top:300px;
}

#myprofile{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color:red;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 12%;
    top:200px;
}

#tweet_form{
    text-align: center;
}

#tweet_formbox{
    margin: 1rem; 
    padding: 0 1rem; 
    width: 70%;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    height: 30rem;
    word-wrap: break-word;
}

#tweet_btn{
    background-color: #2695E0; 
    color: white; 
    border-radius: 10px; 
    padding: 0.5rem;
}

.tweet_create_btn{
    width:200px;
    height: 50px;
    background-color: #2695E0;
    border-radius: 10px;
    font-size: 25px;
    z-index: 5;
}

.fix_bottom{
    position: fixed;
    bottom:30px;
    right:30px;
}

#tweet_border{
    width:100%;
    margin:30px;
    border-bottom: solid 1px; 
}

.tweet_area{
    width:100%;
    margin:50px 0;
}


.tweet_th{
    position: relative;
    left: 3em;
    font-size: 20px;
    line-height: 5;
}

.tweet_detailth{
    position: relative;
    left: 10em;
    width:15em;
    font-size: 30px;
}

.edit_btn{
    position: relative;
    left: 30em;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.delete_btn{
    position: relative;
    left: 35em;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color: #2695E0;
    cursor: pointer;
}

.back_btn{
    position: absolute;
    right: 50px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color:crimson;
    cursor: pointer;
}

.tweet_td{
    position: relative;
    left: 10em;
    font-size: 20px;
}

.tweet_detailtd{
    position: relative;
    left: 15em;
    width:45em;
    height:300px;
    font-size: 20px;
}

.tweet_detailname{
    width: 200px;
    height:300px;
    font-size: 30px;
    position: absolute;
    left: 5%;
}

.table_detail{
    border: solid 1px; 
    padding: 10px;
    width:  300px;             
    height: 80px;    
}

table {
    border-collapse:  collapse; /* セルの線を重ねる */
}

.good_btn{
    font-size: 60px;
    line-height:50px;
    position: absolute;
    right: 20%;
}


/* .tweet_space{
    width: 100%;
    margin:50px 0 ;
    background-color: antiquewhite;
} */








/* pc以外の端末の場合 */

@media (max-width: 767px) {
    #top_title{
        position: absolute;
        left:80px;
        font-size: 30px;
        font-weight:bold;
    }

    #login_logo{
        position: absolute;
        top : 20px;
        left: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #top_h1{
        width:100%;
        font-size: 20px;
        font-weight: bold;
        color:aqua;
    }

}