#top_title{
    font-size: 50px;
    font-weight:bold;
}

.head_wrapper{
    width:100%;
    background-color: darkkhaki;
    position: fixed;
    top:0;
    background-image: url('../img/topImage.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#top_wrapper{
    width:100%;
    height:1000px;
    
}

#top_h1{
    font-size: 100px;
    font-weight: bold;
    color:aqua;
}

#login_logo{
    position: absolute;
    top : 40px;
    right: 80px;
    font-size: 30px;
    font-weight: bold;
}

#myicon{
    width:200px;
    height:150px;
    position: absolute;
    left: 0;
}

#icon{
    width:200px;
    height:150px;
}

#tweet_form{
    text-align: center;
}

#tweet_formbox{
    margin: 1rem; 
    padding: 0 1rem; 
    width: 70%;
    border-radius: 6px; 
    border: 1px solid #ccc; 
    height: 30rem;
    word-wrap: break-word;
}

#tweet_btn{
    background-color: #2695E0; 
    color: white; 
    border-radius: 10px; 
    padding: 0.5rem;
}

.tweet_create_btn{
    width:200px;
    height: 50px;
    background-color: #2695E0;
    border-radius: 10px;
    font-size: 25px;
    z-index: 5;
}

.fix_bottom{
    position: fixed;
    bottom:30px;
    right:30px;
}








/* pc以外の端末の場合 */

@media (max-width: 767px) {
    #top_title{
        position: absolute;
        left:80px;
        font-size: 30px;
        font-weight:bold;
    }

    #login_logo{
        position: absolute;
        top : 20px;
        left: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #top_h1{
        width:100%;
        font-size: 20px;
        font-weight: bold;
        color:aqua;
    }

}